<div class="wrapper full-center">
  <div class="description-container">
    <h2 class="section-title">About CloudImage</h2>
    <p class="description-text">
      CloudImage is an image hosting application that allows users to store and
      manage their images in the cloud. With CloudImage, you can easily upload,
      and share your images with others via link. Registration is quick and
      easy, and each user is provided with a unique API key to access their
      images.
    </p>
  </div>
</div>
