<div class="variety-container">
  <div class="border">
    <h2 class="section-title">Where can you use CloudImage?</h2>
    <div class="use-cases">
      <div class="use-case">
        <i class="pi pi-cart-arrow-down" style="font-size: 1.5rem"></i>
        <h3 class="use-case-title">Webshops</h3>
        <i class="pi pi-check" style="font-size: 1.5rem"></i>
      </div>
      <div class="use-case">
        <i class="pi pi-comment" style="font-size: 1.5rem"></i>
        <h3 class="use-case-title">Blogs</h3>
        <i class="pi pi-check" style="font-size: 1.5rem"></i>
      </div>
      <div class="use-case">
        <i class="pi pi-book" style="font-size: 1.5rem"></i>
        <h3 class="use-case-title">Recipe Sites</h3>
        <i class="pi pi-check" style="font-size: 1.5rem"></i>
      </div>
      <div class="use-case">
        <i class="pi pi-desktop" style="font-size: 1.5rem"></i>
        <h3 class="use-case-title">Or just any website</h3>
        <i class="pi pi-check" style="font-size: 1.5rem"></i>
      </div>
    </div>
  </div>
</div>
