.image-viewer-container {
  display: flex;
  flex-direction: column;
  height: 90vh;

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    flex: 1;
    overflow-y: auto;
    justify-items: center;
    align-items: center;
  }

  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p-image {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  p-paginator {
    margin-top: 10px;
  }
}
