.usage-container {
  text-align: center;
}

.api-key,
.storage,
.usage-heading {
  font-weight: bold;
}

.usage-description {
  font-size: 16px;
  line-height: 1.5;
}

.code-example {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  overflow-x: auto;
  margin-top: 30px;
  text-align: left;
}

.code-example-heading {
  font-size: 20px;
  margin-top: 30px;
}

.file-upload {
  margin-bottom: 20px;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-list {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.file-list p {
  margin: 0;
}
