.wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 83.9vh;
  background: url("../../assets/Images/background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.login-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  min-width: 350px;
  min-height: 350px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  text-align: center;
}

.input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Adjust margin bottom */
}

.input-row label {
  margin-bottom: 5px; /* Adjust margin bottom for labels */
}

.p-button {
  width: 100%;
  margin-top: 15px; /* Adjust margin top */
}
