.login-container {
  background-color: #ffffff; /* White background */
  border-radius: 15px; /* Rounded edges */
  padding: 20px; /* Add padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  min-width: 350px; /* Limit width */
  min-height: 350px;

  /* Center the container horizontally and vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  text-align: center;
}

.input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Adjust margin bottom */
}

.input-row label {
  margin-bottom: 5px; /* Adjust margin bottom for labels */
}

.p-button {
  width: 100%;
  margin-top: 15px; /* Adjust margin top */
}
